.footer
{
    margin-top: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #050b21;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;

}

.con{
    padding: 40px;
    display: block;
    float: right;

}
h1{
    text-align: center;

}

td{
    border: 2px solid black;
    text-align: center;
    width: 200px;
}
